// Define variables for your color scheme


$ligt-blue: #37ABE5;
$blue: #0596DE;
$grey-blue: #7791A2;
$dark-blue: #11689E;
$orange: #E98D03;


// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
