// Define variables for your color scheme

// button
$blue-green: #309C86;

// nav-bar-blue
$dark-blue: #2f699b;

// text and top card
$dark-grey-blue: #435f71;
$grey-blue: #627785;

// background-web-site
$light-gray: #EEF2F6;
