// Define variables for your color scheme


$ligt-blue: #37ABE5;
$blue: #0596DE;
$dark-blue: #11689E;
$grey-blue: #627785;
$dark-grey-blue: #435f71;
$orange: #E98D03;
$blue-green: #309C86;


// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #EEF2F6;
