
    <div class="split left">
      <div id="contact">
        <h1>Nous contacter</h1>
        <%= render 'shared/contact_form' %>
      </div>
    </div>

    <div class="split right">
        <h1>Easy-lab</h1>
        <p>107 Cours Balguerie Stuttenberg, 33300 Bordeaux</p>
        <p></p>
      </div>
    </div>