.analyses-flex {
  display: flex;
  justify-content: center;
}

.analyses-l {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h4 {
    color: $grey-blue;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    background-color: white;
    &:hover {
      color: $dark-grey-blue;
    }
  }
  a {
    text-decoration: none
  }
  i {
    position: relative;
    bottom: 30px;
  }
}
.analyses-r {

}
