.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: asset-url('banner.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  opacity: 0.9;
}
