.btn-flat {
  color: white;
  padding: 24px 48px;
  border-radius: 15px;
  background: $blue;
  font-size: 32px;
  font-style: bold;
}

.btn-flat:hover {
  background: $orange;
  color: white;
  opacity: 0.9;
}

.button-blue {
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  background: $blue;
  font-size: 16px;
  font-weight: bold;
  &:hover {
    background-color: $dark-blue;
    color: white;
  }
}

.button-blue-small {
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  background: $blue;
  font-size: 16px;
  font-weight: bold;
  &:hover {
    background-color: $dark-blue;
    color: white;
  }
}

.button-wrapper {
  text-align: center;
  margin: 50px auto;
  a:hover {
    text-decoration: none;
  }
}
