.button-big {
  color: white;
  padding: 32px 48px;
  border-radius: 15px;
  background: $blue-green;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Roboto';
}

.button-big:hover {
  background: $dark-blue;
  color: white;
  opacity: 0.9;
}

.button-blue {
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  background: $blue-green;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto';
  &:hover {
    background-color: $dark-blue;
    color: white;
  }
}

.button-blue-small {
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  background: $blue-green;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto';
  &:hover {
    background-color: $dark-blue;
    color: white;
  }
}

.button-wrapper {
  text-align: center;
  margin: 50px auto;
  a:hover {
    text-decoration: none;
  }
}
