.flex-2-columns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-l {
  color: $dark-grey-blue;
  a, h3 {
    text-decoration: none;
    margin-top: 20px;
    color: $blue-green;
  }

}

.column-r {

}

