.all-graphs-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
}

.graph-container {
  width: 550px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin: 20px 0;
  h2 {
    margin: 10px 0 20px 0;
  }
}

.graph-dashboard-width {
  width: 380px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin: 20px 0;
  h2 {
    margin: 10px 0 20px 0;
  }
}

