.navbar-lewagon {
  font-weight: bold;
  justify-content: space-between;
  background-color: $dark-blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-left: 20px;
  a {
    color: $dark-grey-blue;
    &:hover {
      color: white;
      text-decoration: none;
      background-color: $blue-green;
    }
  }
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.flex-item {
  margin: 0 15px;
  a {
    color: white;
    &:hover {
      color: $blue-green;
      text-decoration: none;
    }
  }
}

.flex-container-signup {
  width: 260px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

