.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.flex-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex: 1 0 auto;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}
