.flex-container2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 32px;
}

.flex-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flexbox-2 {
  display: flex;
  width: 100%;
}

.column-r, .colum-l {
  width: 50%;

  a {
    text-decoration: none;
  }
}

.columns-history {
  width: 50%;
  color: $dark-grey-blue;
}
